[submodule "puppetlabs/mysql"]
	path = puppetlabs/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "garr-common"]
	path = garr-common
	url = https://github.com/ConsortiumGARR/Puppet-GARRCommon
