# General messages related to terms of use consent.

idp.terms-of-use.accept     = Accetto i Termini di Utilizzo
idp.terms-of-use.submit     = Invia
idp.terms-of-use.reject     = Rifiuta
idp.terms-of-use.required   = Per cortesia spunta questo riquadro se desideri procedere.

# Triples consisting of a TOU key, and a title and text for each set of terms.
# The default implementation uses the SP name as the key, but this can be overriden.

https\://sp.example.org = example-tou-1
example-tou-1.title = Termin di Utilizzo d'Esempio
example-tou-1.text	= <em>*** Questo &egrave; un ToU d'esempio - adattalo alle tue necessit&agrave; ***</em> \
                        <p>Organizzazione d'Esempio Servizi di AAI: Termini di Uitlizzo (ToU)</p> \
                        <strong>A. Clausola d'esempio per la protezione dei dati</strong> \
                        <p> \
                        "L'Utente Finale noti che i dati personali lui riguardanti sono compilati partendo da fonti \
                        generalmente disponibili e da comunicazioni ricevute dall'Utente stesso o da altre Universit&agrave; \
                        oltre che da risorse fuori da questi siti. La politica in materia di impiego e manipolazione \
                        di tali dati &egrave; pubblicata sul sito Internet dell'Universit&agrave; [...]. Tali dati saranno utilizzati, tra l'altro, \
                        per autenticare e autorizzare l'accesso e l'uso di varie risorse all'interno \
                        dell'Universit&agrave; e su altri siti ("Usi autorizzati"). L'Utente Finale, quindi, esprime qui il suo consenso \
                        alla raccolta, all'elaborazione, all'uso e al rilascio di tali dati per quanto ragionevolmente necessario \
                        per gli usi approvati. Tale consenso include, ma non &egrave; limitato a, il rilascio \
                        dei dati personali ad altre istituzioni impiegando cookies e scambio elettronico dei dati, \
                        il caching e la memorizzazione degli attributi personali di autorizzazione."\
                        </p> \
                        <strong>B. Limitazione delle Responsabilit&agrave;</strong> \
                        <p> \
                        "Nella misura consentita dalla legge applicabile, l'utente finale presente rinuncia a ciascuna \
                        richiesta di indennizzo e pagamento danni, diretti o indiretti, incidentali o consequenziali (inclusi, \
                        tra l'altro, il mancato utilizzo e mancato guadagno), sia contrattuale che extracontrattuale, derivante da \
                        l'uso o in qualsiasi modo collegato all'autenticazione e all'autorizzazione tra servizi \
                        che consentono all'utente finale di accedere a determinate risorse di altre organizzazioni. \
                        Questa rinuncia &egrave; valida ed efficace in relazione a tutti i partecipanti dei \
                        servizi di autenticazione e autorizzazione inter-organizzative tra cui gli AAI \
                        Service Provider e i suoi affiliati, funzionari, dipendenti e agenti."\
                        </p>

# Messages related to attribute release consent.

idp.attribute-release.revoke                       = Ripulisci i permessi di rilascio di informazioni dati a questo servizio in precedenza.

idp.attribute-release.title                        = Rilascio di Informazioni

idp.attribute-release.attributesHeader             = Informazioni fornite al servizio

idp.attribute-release.serviceNameLabel             = Stai per accerdere al servizio:
idp.attribute-release.of                           = erogato da
idp.attribute-release.serviceDescriptionLabel      = Descrizione fornita dal servizio:

idp.attribute-release.informationURLLabel          = Informazioni aggiuntive sul servizio
idp.attribute-release.privacyStatementURLLabel     = Informazioni sulla privacy dei dati del servizio

idp.attribute-release.showDetails                  = mostra dettagli

idp.attribute-release.accept                       = Accetta
idp.attribute-release.reject                       = Rifiuta

idp.attribute-release.confirmationQuestion         = Le informazioni qui sopra saranno condivise con il servizio, se deciderai di procedere. \
                                                     Approvi il rialscio di queste informazioni al servizio ogni volta in cui vi accederai?

idp.attribute-release.consentMethod                = Seleziona la durata del consenso di rilascio delle informazioni:
idp.attribute-release.consentMethodRevoke          = Questa impostazione pu&ograve; essere revocata in ogni momento con il checkbox apposito sulla pagina di login.

idp.attribute-release.doNotRememberConsent         = Richiedimelo alla prossima login
idp.attribute-release.doNotRememberConsentItem     = Concordo con il rilascio delle mie infomazioni questa volta.

idp.attribute-release.rememberConsent              = Chiedimelo ancora se le informazioni cambiano
idp.attribute-release.rememberConsentItem          = Approvo che le stesse informazioni vengano inviate automaticamente a questo servizio in futuro.

idp.attribute-release.globalConsent                = Non chiedermelo pi&ugrave;
idp.attribute-release.globalConsentItem            = Acconsento a che <strong>tutte</strong> le mie informazioni vengano rilasciate a <strong>tutti</strong> i servizi.
