<%%@page import="edu.internet2.middleware.shibboleth.common.profile.AbstractErrorHandler"%>
<%%@ taglib uri="urn:mace:shibboleth:2.0:idp:ui" prefix="idpui" %>

<html>
<body>
	<div style="position:absolute; right: 0px"><img src="/idp/images/institutionLogo-160x120_it.png" /></div>
	<h3>ERRORE</h3>
	
<table width="100%" cellspacing="0" cellpadding="5" border="0">
<tr>
	<td><img src="<%%= getServletContext().getContextPath() %>/images/error.png" /></td>
	<td>
   <p>
      Nel processare la tua richiesta si &egrave; verificato un errore.
      Contatta il supporto tecnico per ricevere assistenza.
	</p>
   <p>
      Questo servizio richiede che l'impiego di cookies. Assicurati che essi siano
      abilitati e ritenta il login.
	</p>
	<p>
      Ritorna al servizio a cui hai tentato di accedere e ritenta il login.
	</p>
        <p>
           Se pensi di essere stato rediretto qui per errore,
           contatta per favore il <idpui:serviceContact>supporto tecnico</idpui:serviceContact>
        </p>       
	<%%
       Throwable error = (Throwable) request.getAttribute(AbstractErrorHandler.ERROR_KEY);
	   if(error != null){
	       org.owasp.esapi.Encoder esapiEncoder = org.owasp.esapi.ESAPI.encoder();
	%>
	<strong>Errore: <%%= esapiEncoder.encodeForHTML(error.getMessage()) %></strong>
	<%% } %>
	<p>Per supporto nella risoluzione del problema contattare: <a href="<%=metadata_information["technicalIDPadminEmail"]%>"><%=metadata_information["technicalIDPadminEmail"].gsub("mailto:","")%></a>.</p>
	</td>
</tr>
</table>
</body>
</html>
