<html>
   <head>
      <title> Privacy IRCCS-IZS</title>
   </head>

   <body>
      <h1> Qui vanno inserite le informazioni sulla Privacy </h1>
      <br />
      <br />
      <h1> Put here the information about the Privacy </h1>
   </body>
</html>
